@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        transform: translateX(-50px);
        opacity: 0;
    }
}

.slide-out {
    animation: slideOut 0.2s ease forwards;
}
