.hollowButton {
    background: transparent;
    color: white !important;
    text-transform: none;
    padding: 8px 16px; /* py:1 (8px), px:2 (16px) */
    border: 1px solid white !important;
    border-radius: 4px;
    transition: border-color 0.2s ease, color 0.2s ease;
    transition: color 0.2s ease, border-color 0.2s ease !important;
    width: fit-content;
}

.hollowButton:hover {
    border-color: #56acbd !important;
    color: #56acbd !important;
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        transform: translateX(-50px);
        opacity: 0;
    }
}

.slide-out {
    animation: slideOut 0.5s ease forwards;
}
